/* WIDTHS: */
.services, 
.facilities,
.sites,
.advantages {
    max-width: 77.5rem;
    width: 100%;
    margin: 0 auto;
}

/* ------------- HERO ------------------- */
.hero {
    width: 100%;
    position: relative;
}

.hero__container {
    position: absolute;
    width: 51.4583%;
    top: 16rem;
    left: 3.9375rem;
    background-color: #FFFFFF;
    padding: 6rem 9.75rem 6rem 4rem;
    box-shadow: 0 4px 100px 0 rgba(0, 0, 0, 0.10);
}

.hero__container p {
    padding: 1.5rem 0;
}

.hero__container .button {
    background-color: #F78065;
    width: 15.625rem;
    height: 4.0625rem;
    font-size: 1.25rem;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero__container .icon {
    color: #FFFFFF;
    width: 1.4rem;
    margin-right: .5rem;
}

/* ------------- SERVICES --------------- */
.services {
    background-color: pink;
}

.services div {
    background-color: rgb(177, 115, 125);
}

.services img {
    background-color: rgb(207, 49, 75);
}

.services h3 {
    background-color: rgb(78, 39, 46);
}

.services p {
    background-color: rgb(236, 77, 103);
}

.services a {
    background-color: rgb(196, 88, 142);
}

/* ------------- FACILITIES  ------------ */
.facilities {
    background-color: rgb(2, 102, 11);
}

.facilities h2 {
    background-color: rgb(163, 255, 194);
}

.facilities__options {
    background-color: rgb(3, 250, 65);
}

.facilities__options div {
    background-color: rgb(127, 201, 145);
}

.facilities__options .icon {
    background-color: rgb(212, 231, 217);
}

.facilities__options h4 {
    background-color: rgb(29, 61, 37);
}

.facilities__options p {
    background-color: rgb(6, 32, 12);
}



/* ------------- SITES ------------------ */
.sites {
    background-color: rgb(231, 217, 15);
}

.sites div {
    background-color: rgb(184, 177, 85);
}

.sites h2 {
    background-color: rgb(146, 125, 5);
}

.sites p {
    background-color: rgb(245, 247, 164);
}

.sites .icon {
    background-color: rgb(236, 226, 78);
}

.sites__places {
    background-color: rgb(63, 3, 3);
}

.sites__places div {
    background-color: rgb(178, 34, 34);
}

.sites__places img {
    background-color: rgb(243, 106, 106);
}

.sites__places h3 {
    background-color: rgb(97, 69, 69);
}

.sites__places p {
    background-color: rgb(250, 211, 211);
}


/* ------------- ADVANTAGES ------------- */
.advantages {
   background-color: purple;
}

.advantages div {
    background-color: rgb(26, 8, 26);
}

.advantages .icon {
    background-color: rgb(114, 56, 114);
}

.advantages h4 {
    background-color: rgb(236, 178, 236);
}

.advantages p {
    background-color: rgb(255, 0, 255);
}



/* ------------- FOOTER ----------------- */
.footer {
    background-color: blue;

}